body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #0a192f;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.links a {
  margin: 0 10px;
  color: #64ffda;
  text-decoration: none;
  font-weight: bold;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h2 {
  color: #0a192f;
}

.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.card a {
  color: #007bff;
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

footer {
  background: #eaeaea;
  text-align: center;
  padding: 20px;
}


.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #64ffda;
}
.resume-btn {
  background: #64ffda;
  color: #0a192f !important;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

